@tailwind base;
@tailwind components;
@tailwind utilities;

.font-heading {
  font-family: Caveat, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.font-body {
  font-family: "Work Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.color-text-tosca {
  color: #479791;
}

.color-text-purple {
  color: #bb79a4;
}

.bg-color-purple-light {
  background-color: #e2d7e5;
}
.bg-color-purple {
  background-color: #bb79a4;
}

.color-text-grey {
  color: #585555;
}

.color-text-white {
  color: #ffffff;
}

.container-limit {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
