@tailwind base;
@tailwind components;
@tailwind utilities;

.font-heading {
  font-family: Sacramento, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.font-body {
  font-family: "Work Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.color-text-tosca {
  color: #479791;
}

.color-text-grey {
  color: #585555;
}

.color-text-white {
  color: #ffffff;
}

.container-page {
  background: url("/public/static/bg1.jpg");
}
