.cta-container {
  display: flex;
  justify-content: space-around;
}

.cta-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.cta-item-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #bb79a4;
  border-radius: 50%;
}
